.navbar {
    background-color: #f1ff86;
}

.container{
    text-align:center;
    height: 10px;
    margin-top:30px;
    text-decoration: underline;
    animation: container 1.5s;  
}

@keyframes container{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.5;
    }
    
} 
.logo {
    width: 100px;
}

    
li {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    font-size: 18px;
   
}

.form {
    display: flex;
    align-items: center;
    margin-left: 560px;
    text-decoration: none;
    color: inherit;
}


.depoimentos{
    display:flex;
    justify-content: space-between;
    margin:50px;
    margin-top:70px;
 
}

.img-fluid{
    width:70%;
    height:70%;
    padding-top: 10%;
    padding-left: 25%;
    margin-bottom: 15px;
    
    
}



.depoimentos__parceiros{
    width:300px;
    height: 420px;
    background-color: #f0feaf;
    border-radius: 10px;
    margin-bottom: 50px;

}
.depoimentos__parceiros:hover {
    width: 310px;
    height: 430px;
    background-color: #f1ff86;
}

.depoimentos__cliente{
    font-size: 16px;
    text-decoration: underline;
    text-align: center;

}

.depoimentos__texto{
    padding:0 30px 0 30px;
    text-align: justify;
    margin-top: 15px;
    
}

.footer {
    background-color: #f1ff86;
    text-align: center;
}