.navbar {
    background-color: #f1ff86;
}

li {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    font-size: 18px;
   
}

.form {
    display: flex;
    align-items: center;
    margin-left: 560px;
    text-decoration: none;
    color: inherit;
}

.imagemCentro {
    position: relative;
    margin-top: 30px;
    margin-left: 270px;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f0feaf;
}

.textoHome {
    position: absolute;
    background-color: #f1ff86;
    padding: 20px;
    width: 450px;
    top: 150px;
    left: 850px;
}

.logotipoHome {
    position: absolute;
    bottom: 100px;
    margin-left: 20px;
}



.footer {
    background-color: #f1ff86;
    text-align: center;
}